<div class="jumbotron">
    <p class="lead">This Authentication Server provides a Single Sign-On authentication source for web sites, web services, and other application using OpenID Connect/OAuth2 tokens so that the client application doesn't need to know the user's credentials and there is only one place to update creadentials.</p>
</div>
