<div class="jumbotron">
    <p class="lead">This Authentication Server uses the following certificate to sign tokens:</p>
    <ul>
        <li>@ViewBag.CertName</li>
        <li>Thumbprint: @ViewBag.Thumbprint</li>
    </ul>
</div>
