<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="appName" value="AuthenticationServer" />
    <targets>
        <target name="file" xsi:type="File" layout="${pad:padding=5:inner=${level:uppercase=true}} [${pad:padding=13:inner=${time}}] ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}" fileName="${basedir}/${appName}.log" archiveFileName="${basedir}/${appName}.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>
